<html>
<head>
	<title></title>
</head>
<body>

	 <div class="header">

	 <form action='/upload/images' method='POST'>
  <label> Images <input type='text' name='create_project[client]'></label><br>




    <br>
  <input type='submit' value='Upload'>
  </form>




   <form action='/upload/dimension' method='POST'>
  <label> Dimensions <input type='text' name='create_project[client]'></label><br>







    <br>
  <input type='submit' value='Upload'>
  </form>


	 <div>
</body>
</html>